body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #ffe4e9;
    color:  #333;
    text-align: center;
}

header{
    background: #ff4d6d;
    color: white;
    padding: 15px;
    border-bottom: 3px solid #b3003c;
    text-align: center;
}

nav a:hover,
nav a.active{
    text-decoration: underline;
}

nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/couple.jpg') center/cover;
    height: 80vh;
    display: flex;
    justify-conent: center;
    align-items: center;
    color: white;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.form-container{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.subtitle{
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group{
    text-align: left;
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.radio-group{
    display: flex;
    gap: 10px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
    flex: 1px;
    margin-top: 10px;
}

button:hover{
    background: #cc0033;
}

section{
    padding: 30px;
    text-align: center;
    max-width: 800px;
    margin: auto;

   section h1, 
   secion h2{
        color: #b3003c;
}

    secion p{
        color: #444;
        line-height: 1.6;
    }

    .highlight{
        margin-top: 20px;
        color: #ff4d6d;
        font-weight: bold;
        font-size: 20px;
    }
    
footer{
    background: #ffb6c1;
    color: #b3003c;
    padding: 10px;
    margin-top: 20px;
    border-line: 2px solid red;
}

img{
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
}

    .profile-card{
        background: red;
        padding: 15px;
        margin: 15px;
        display: inline-block;
        border-radius: 15px;
        box-shadow:  0 5px 15px rgba(0,0,0,0.1);
    }

    .profile-card h3{
        margin: 10px 0 5px;
    }

    .profile-card p{
        color: #777;
        font-size: 14px;
    }
